h1 {
    font-family: "Unbounded", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: bold;
    margin: 0;
}

h2 {
    font-family: "Unbounded", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: bold;
}

h3 {
    font-family: "Unbounded", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: bold;
}

h4 {
    font-family: "Unbounded", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: bold;

}

body {
    margin: 0;
    padding: 0;
    font-family: "Saira", sans-serif;
    font-weight: 400;
    font-style: normal;
}

header {
    text-align: center;
    background-color: black;
    color: #fff;
    padding: 20px 0;
}

main {
    padding: 20px;
}

section {
    margin-bottom: 20px;
}

h2,
h3,
h4 {
    color: #333;
}

figure {
    text-align: center;
}

#img-div {
    margin: auto;
    text-align: center;
    max-width: 100%;
    align-items: center;
    height: auto;
    display: flex;

}

img {
    display: block;
}

#image {
    max-width: 100%;
    height: auto;
    display: block;
    border: solid black 5px;
}

#tribute-link {
    display: block;
    text-align: center;
    margin-top: 20px;
}

#tribute-link:hover {
    color: orangered;
}

#tribute-info {
    display: block;
    text-align: center;
    margin-top: 20px;
    font-style: bold;
    font-weight: 300;
}

.tracking-in-contract-bck {
    -webkit-animation: tracking-in-contract-bck 1s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
    animation: tracking-in-contract-bck 1s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}

@-webkit-keyframes tracking-in-contract-bck {
    0% {
        letter-spacing: 1em;
        -webkit-transform: translateZ(400px);
        transform: translateZ(400px);
        opacity: 0;
    }

    40% {
        opacity: 0.6;
    }

    100% {
        -webkit-transform: translateZ(0);
        transform: translateZ(0);
        opacity: 1;
    }
}

@keyframes tracking-in-contract-bck {
    0% {
        letter-spacing: 1em;
        -webkit-transform: translateZ(400px);
        transform: translateZ(400px);
        opacity: 0;
    }

    40% {
        opacity: 0.6;
    }

    100% {
        -webkit-transform: translateZ(0);
        transform: translateZ(0);
        opacity: 1;
    }
}

p {
    text-align: justify;
    font-weight: 300;
}

.tributeinfo {
    text-align: center;
}

.text-focus-in {
    -webkit-animation: text-focus-in 0.5s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
    animation: text-focus-in 0.5s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}


@-webkit-keyframes text-focus-in {
    0% {
        -webkit-filter: blur(12px);
        filter: blur(12px);
        opacity: 0;
    }

    100% {
        -webkit-filter: blur(0px);
        filter: blur(0px);
        opacity: 1;
    }
}

@keyframes text-focus-in {
    0% {
        -webkit-filter: blur(12px);
        filter: blur(12px);
        opacity: 0;
    }

    100% {
        -webkit-filter: blur(0px);
        filter: blur(0px);
        opacity: 1;
    }
}